
main{
    background-color:rgb(211, 201, 189);
    width: fit-content;
}

h1, h3{
    padding: 0;
    margin: 0;
}
h3{
    margin-bottom:6px ;
}

article{
    width: 370px;
    padding-bottom:100px;
}

article
#CardImg{
    object-fit: scale-down;
    width: 100%;
}