body{
    margin: 2px 250px;
}
footer{
    position: fixed;
    bottom: 36px;
    display: flex;
    flex-direction: column;
}
.MainHeader{
    display: flex;
    align-items:center;
    height: 120px;
    margin: 2px 150px;
    justify-content: space-between;
}

.headerIcon{
    height: 65px;
}

.CommentsForm{
    display: flex;
    flex-direction: column;
    width:fit-content;
}